@import 'utils/const.scss';

.container{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background: linear-gradient(114.22deg, $yellow74 16.81%, $orange 90.11%);
}

.form{
    width: 450px;
    padding: 35px 90px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-radius: 25px;
    background-color: $white;
    text-align: center;
}

.toMain {
    position: absolute;
    left: 0;
    top: 0;
    margin: 40px 50px;
    padding: 10px 15px;
    background-color: $white;
    border-radius: 10px;
    color: $orange;
}