$white: #FFF;
$background: #fffffc;
$yellow: #FFD700;
$orange: #FF6B00;
// $light-yellow: #FFF9C1;
$light-yellow: #ffffe0;
$light-orange: #FFA15E;
$peach: #FFF8EE;
$gray: #4F4F4F;
$light-gray: #888888;
$border-gray: #D9D9D9;
$black: #000;

$breackpoints: (
    desktop: 1440px,
    tablet: 1024px,
    laptop: 780px
)
