@import 'utils/const.scss';

.textIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;

    &_border {
        padding-bottom: 10px;
        border-bottom: 1px solid $border-gray;
    }

    &__imgContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }
}