@import './reset.css';

:root {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

a {
  font-family: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.container {
  max-width: 1690px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}
