@import 'utils/reset.css';
@import 'utils/const.scss';

:root {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;

  @media (max-width: map-get($breackpoints, laptop)){
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
}

a {
  font-family: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: $background;

  &.open-model {
    position: fixed;
  }
}

button {
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.container {
  max-width: 1690px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.main-container {
  padding: 100px 20px 150px;

  @media (max-width: map-get($breackpoints, tablet)){
    padding: 60px 40px 80px;
  }

  @media (max-width: map-get($breackpoints, laptop)){
    padding: 60px 20px 80px;
  }
}

.competitions-container {
  display: flex;
  column-gap: 3%;
}

.text-orange {
  font-weight: 500;
  color: $orange;
}

.skeleton {
  display: block;
  width: 100%;
  line-height: 1;
  border-radius: 10px;
  &-competition{
    display: block;
    height: 200px;
  }
}

.error {
  border: 2px solid $orange;
}

.error-text {
  text-align: left;
  color: $orange;
}

