@import 'utils/const.scss';

.description {
    padding-top: 20px;
    line-height: 21px;

    &__label {
        padding-bottom: 10px;

        @media (max-width: map-get($breackpoints, laptop)){
            padding-bottom: 5px;
        }
    }

    &__btn {
        padding: 0;
        font-size: 16px;

        @media (max-width: map-get($breackpoints, laptop)){
            font-size: 14px;
        }
    }

}